.description{
    display: flex;
}

.aboutMe{
    
    background-color: wheat;
    margin-bottom: 2rem;  
    
}
.aboutMeImage{
    height: 15em;
    width: 15em;
    margin-left: 10%;
    
}
h3{
    color: red;
}
.intro{
    text-align: center;
    margin-top: .7rem;
    
}
.des{
    margin-left: 5%;
    margin-right: 2%;
    font-size: 18px;
    word-break: break-all;

}