.description{
    display: flex;
    
}

.aboutMe{
    margin-bottom: 2rem;  
    padding-bottom: 10px;
    clip-path: polygon(50% 15%, 100% 0%, 100% 100%, 0 100%, 0 0, 50% 15%);
    background-color: lightblue;
    
    
}
.aboutMeImage{
    height: 15em;
    width: 15em;
    margin-left: 10%;
    
}
h3{
    color: red;
}
.intro{
    text-align: center;
    padding-top: 9%;
    
    
}
.des{
    margin-left: 5%;
    margin-right: 2%;
    font-size: 18px;
    word-break: break-all;
    padding-top: 1em;

}