#footer{
    background-color: gray;
    text-align: center;
    color: white;
    font-size: .8rem;
    clear: both;
    
}
address{
    background-color: #160101;
    color: white;
    font-size: .8rem;

}