@media screen and (max-width:850px){
    header{
        flex-direction: column;
    }
    .logo{
        order: -1;
    }
    .social{
        flex-direction: row;
    }

    .description{
        flex-direction: column;
    }
    .aboutMeImage{
        display: none;
    }
    .skillsHeading{
        padding-top: .1em;
    }
    .skills{
        
        clip-path: polygon(50% 10%, 100% 0%, 100% 100%, 0 100%, 0 0, 50% 10%);
    }
    .upward-arrow{
        left: 90vw;
        top: 93vh;
        
    }
    
   
    
}
@media screen and (max-width:640px){
    header ul{
        display: flex;
        flex-direction: column;
    }
    #image{
        max-width: 100%;
        height:20rem;
    }
    .skills-items{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .skillsHeading{
        padding-top: 8%;
    }
    .intro{
        text-align: center;
        padding-top: 12%;
    }
    
}
@media screen and (max-width:500px){
    .skillsHeading{
        padding-top: 17%;
    }
    .intro{
        text-align: center;
        padding-top: 23%;
    }
   
    


}
@media screen and (max-width:430px){
.skills-items{
    display: flex;
    flex-direction: column;
}

}