@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eff4fd;
}

.main-font {
  font-family: 'Aclonica', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #160101;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}

header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

header ul li {
  padding: 10px;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: tomato;
  text-shadow: 1px 1px green;
}

.logo {
  margin: 0 auto;
}

.logoFacebook {
  height: 20px;
  width: 20px;
  background-color: blue;
}

.logoInstagram {
  height: 20px;
  width: 20px;
  background-color: tomato;
}

.logoImage {
  height: 30px;
  width: 100px;
}

.content {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2rem;
}

.detail span {
  color: orange;
  border-bottom: 2px solid green;
  font-size: 30px;
}

p {
  color: gray;
  padding-top: 20px;
}

.detail h1 {
  font-size: 25px;
}

.detail a {
  text-decoration: none;
  margin-top: 5px;
  text-align: center;
  display: block;
  height: 22px;
  width: 120px;
  background-color: black;
  color: white;
  border: 5px solid balck;
  border-radius: 10px;
}

#image {
  max-width: 100%;
  height: 35rem;
}

#image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.detail-wrapper {
  padding-top: 10%;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutMe {
  margin-bottom: 2rem;
  padding-bottom: 10px;
  -webkit-clip-path: polygon(50% 15%, 100% 0%, 100% 100%, 0 100%, 0 0, 50% 15%);
          clip-path: polygon(50% 15%, 100% 0%, 100% 100%, 0 100%, 0 0, 50% 15%);
  background-color: lightblue;
}

.aboutMeImage {
  height: 15em;
  width: 15em;
  margin-left: 10%;
}

h3 {
  color: red;
}

.intro {
  text-align: center;
  padding-top: 9%;
}

.des {
  margin-left: 5%;
  margin-right: 2%;
  font-size: 18px;
  word-break: break-all;
  padding-top: 1em;
}

.skills {
  background-color: wheat;
  -webkit-clip-path: polygon(50% 13%, 100% 0%, 100% 100%, 0 100%, 0 0, 50% 13%);
          clip-path: polygon(50% 13%, 100% 0%, 100% 100%, 0 100%, 0 0, 50% 13%);
  background-color: lightblue;
}

.skillsHeading {
  text-align: center;
  margin-top: 8%;
}

.skillsHeading h1 {
  padding-top: 10px;
}

h2 {
  font-size: 20px;
  padding-left: 10px;
  margin: 2rem 0 1rem 0;
}

.skills-logo {
  height: 100px;
  width: 100px;
}

.skills-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 3rem;
}

.html1 {
  background-color: tomato;
}

.html1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.css1 {
  background-color: blue;
}

.css1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.js1 {
  background-color: yellow;
}

.js1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.python1 {
  background-color: aqua;
}

.python1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer {
  background-color: #160101;
  text-align: center;
  color: white;
  font-size: .8rem;
}

address {
  padding-top: 3%;
  background-color: #160101;
  color: white;
  font-size: .8rem;
  font-size: 16px;
}

form {
  background-color: white;
}

fieldset {
  margin: 3% 8%;
  border: 2px solid black;
}

legend {
  color: tomato;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

label, input, textarea {
  margin-left: 5%;
  margin-right: 5%;
}

label {
  font-weight: bold;
  font-size: 18px;
}

input {
  height: 40px;
  font-size: 16px;
  padding: 10px 5px;
}

input:hover {
  background-color: lightblue;
}

textarea {
  margin-bottom: 10px;
  padding: 10px 5px;
}

textarea:hover {
  margin-bottom: 10px;
  background-color: lightblue;
}

.btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  margin: 4px auto;
  text-align: center;
  border-radius: 5px;
  margin-left: 10%;
}

@media screen and (max-width: 850px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutMeImage {
    display: none;
  }
  .skillsHeading {
    padding-top: .1em;
  }
  .skills {
    -webkit-clip-path: polygon(50% 10%, 100% 0%, 100% 100%, 0 100%, 0 0, 50% 10%);
            clip-path: polygon(50% 10%, 100% 0%, 100% 100%, 0 100%, 0 0, 50% 10%);
  }
}

@media screen and (max-width: 640px) {
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #image {
    max-width: 100%;
    height: 20rem;
  }
  .skills-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .skillsHeading {
    padding-top: 8%;
  }
  .intro {
    text-align: center;
    padding-top: 12%;
  }
}

@media screen and (max-width: 500px) {
  .skillsHeading {
    padding-top: 17%;
  }
  .intro {
    text-align: center;
    padding-top: 23%;
  }
}

@media screen and (max-width: 430px) {
  .skills-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */